<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.mapper.SysRoleMapper">

    <select id="selectByPage" resultType="com.atguigu.spzx.model.entity.system.SysRole">
        SELECT * FROM sys_role
        <where>
            <if test="roleName!=null and roleName!=''">
                AND role_name LIKE CONCAT('%',#{roleName},'%')
            </if>
            AND is_deleted=0
        </where>
    </select>

    <insert id="add">
        insert into sys_role (role_name,role_code,description)
                        values(#{roleName},#{roleCode},#{description})
    </insert>

    <update id="deleteById">
        update sys_role set is_Deleted=1 where id = #{id};
    </update>

    <update id="updateSysRole">
        update sys_role set
                            role_name=#{roleName},
                            role_code=#{roleCode},
                            description=#{description}
        where id = #{id};
    </update>

</mapper>
